
@media screen and (max-width: 800px ) {
    .footer-content {
        grid-template-columns: repeat(3, 1fr);
    }
    .description {
        grid-column: 1 / -1;
    }
}
@media screen and (max-width: 700px ) {
    header {
        grid-template-columns: 40px auto 40px;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: 400px auto auto;
        grid-template-areas: 
                    "hero" 
                    "articles" 
                    "newsletter";
    }

    .hero {
        padding: 2.5rem 1.5rem;
        background-size: 200px;
        background-position: top;

        justify-items: center;
        align-items: center;
        text-align: center;
    }
    
    .articles {
        padding: 0 20px;
        gap: 15px;
        grid-template-columns: 1fr 1fr;
    }

    .newsletter {
        padding: 2.5rem 1.5rem;
        gap: 0px;
        grid-template-columns: 1fr;
    }

    .newsletter img {
        order: 0;
        width: 150px;
    }
    .newsletter-item {
        order: 1;
        text-align: center;
    }

    .newsletter-form {
        justify-content: center;
    }
}

@media screen and (max-width: 500px ) {
    header {
        gap: 15px;
        grid-template-columns: 40px auto 40px;
    }
    header .logo h1 {
        font-size: 1.25rem;
        letter-spacing: .5rem;
    }
    .articles {
        gap: 50px;
        grid-template-columns: 1fr;
    }
    .article-box:nth-child(even) {
        margin-top: 0;
    }

    .footer-content {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}